{% extends "quotes/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{quote.quote}}
            </span>
            <span>by <small class="author" itemprop="author">{{ quote.author}}</small>
                <a href="/author/{{quote.author.id}}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="/tag/{{tag}}">{{tag.name}}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <nav>         
            {% comment %} <ul class="pager">
            
                <li class="previous">
                    <a href="/page/1/"><span aria-hidden="true">←</span> Previous</a>
                </li>
                
                
                <li class="next">
                    <a href="/page/3/">Next <span aria-hidden="true">→</span></a>
                </li>
                
            </ul> {% endcomment %}
                                
            
        </nav>



    </div>
</div>
{% endblock %}